<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deleniti, recusandae in nobis beatae repellat quam aspernatur accusantium voluptatem illo voluptates perspiciatis magnam eos voluptas officia minima exercitationem alias dolorum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deleniti, recusandae in nobis beatae repellat quam aspernatur accusantium voluptatem illo voluptates perspiciatis magnam eos voluptas officia minima exercitationem alias dolorum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deleniti, recusandae in nobis beatae repellat quam aspernatur accusantium voluptatem illo voluptates perspiciatis magnam eos voluptas officia minima exercitationem alias dolorum!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>